header {
    background-color: #71aa35;
    color: #effee9;
    text-align: center;
    padding: 25px;
}

main {
    background-color: white;
    color: #71aa35;
    text-align: center;
    padding: 20px;
}

.container-card {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
}

.card {
    width: 200px;
    padding: 10px;
    border: 2px solid #71aa35;
    margin: 10px;
    background-color: #71aa35;
    color: #effee9;
    text-align: center;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.imagem-introducao img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.animal-reptil img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.foto-cobra {
    object-position: center 20%;
}

.foto-tartaruga {
    object-position: center 40%;
}

.foto-lagarto {
    object-position: center 20%;
}

.foto-crocodilo {
    object-position: center 20%;
}